body {
  font-family: sans-serif;
  font-size: 85%;
  }

#wrap {
  width: 970px;
  }

#event_map_canvas {
  float: left;
  }

#event_result_list_wrap {
  float: right;
  width: 400px;
  }

#event_result_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

#event_result_list li {
  border-bottom: 1px solid #808080;
  margin-bottom: 10px;
  padding-bottom: 10px;
  }

#event_result_list input {
  border: 1px solid #808080;
  margin: 0;
  }
