body {
	background : #f5f3f2 url(../img/background_stripes.png) top center repeat-y;

}


.wrapper {
  margin: 0 auto;
  width: 1000px;
border-width : 0 1px;
}

/* topnav
--------------------------------------------------------------------------------------*/




#topnav nav {
  background-color : #EFEFEF;
  border-bottom: 1px solid #CCC;
width : 100%;

  display: inline-block;
  vertical-align: top;

}

#topnav ul {
float : right;
margin-right : 20px;
}



#topnav nav li {
line-height : 1.5em;
font-size : .9em;
}


/* identity nav
--------------------------------------------------------------------------------------*/

.identity-nav {
background-color : #fff;
}


.identity-nav nav {
margin-right : 20px;
float : right;
}



#heading h1,
#heading nav {
  display: inline-block;
  vertical-align: top;
}


#heading h1 {
margin : 0;
}

#heading h1#logo a {
  display: block;
  text-indent: -9999px;
  width: 187px;
  height: 66px;
  background: url(../img/logo.png) no-repeat;
margin-left : 19px; 
margin-top : 21px;
}


#heading h1 {
  font-size: 1em;
  line-height: 1em;
  float: left;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  line-height: 2.3em;
}

nav li a {
  color: #333 !important;
  display: inline-block;
  margin: .3em 0 0 2em;
  text-transform: uppercase;
  color: rgb(0,0,0);
  font-size: .8em;
  text-shadow: 0 1px 0 #FFFFFF;
}

nav li.search a {
  text-indent: -9999px;
  background: url(../img/nav_search.png) no-repeat;
  width: 21px;
  height: 21px;
  margin-left: 1em;
}

section.alerts {
  clear: both;
  background: #EEEEEE;
  padding: .2em 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.home ul {
  position: relative;
  z-index: 55;
  margin-left: 0;
  padding-left: 0;
}

.home ul.megamenu {
  position: absolute;
  padding: 1em;
  background: #444;
  margin-top: -10px;
  border-radius: 5px;
  display: none;
}

.home nav li:hover > .megamenu {
  display: block;
}

.home ul.megamenu li a {
  color: #EFEFEF !important;
  text-shadow: -1px 0 0 #000;
  float: left;
  width: 220px;
  line-height: 1.1em;
}



/* search
--------------------------------------------------------------------------------------*/



#heading section.search {
  background: url(../img/search_photo.jpg) no-repeat;
height : 337px;

}



#findit_chzn .chzn-choices {
width : 554px;
margin : 0 auto;
}



.search-item {
  width: 270px;
  float: left;
  background: #EEE;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.home #findit {
  width: 100%;
  display: block;
}











/* alerts
--------------------------------------------------------------------------------------*/



section.alerts ul {
  background: #FFF;
  padding: .5em .5em;
  border-radius: 5px;
}

section.alerts .more {
  padding-top: .6em;
  font-size: .9em;
}

.home form input {
  font-size: 1.9em;
  padding: .4em .3em;
  border: 7px solid rgba(0,0,0,.1);
  border-radius: 5px;
  display: inline-block;
}

.home form input.search {
  width: 89%;
}

.home form input.button {
  border: 0;
}

.temp {
  font-size: 4em;
}

.subtitle {
  display: block;
  font-size: .85em;
  text-transform: uppercase;
}

.bloomberg {
  display: inline-block;
  background: #EFEFEF;
  border-radius: 5px;
  overflow: hidden;
  padding: 1em;
}

.bloomberg img {
  float: left;
  margin-right: 8px;
}

div#grid-results {
  margin-left: -13px;
}



